# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environments
.env
.venv
env/
venv/

# IDEs
.idea/
.vscode/

# Logs and temp files
*.log
*.tmp
*.swp

# TensorFlow model files
*.h5
*.pb